body {
    height: 100%;
}

h1 {
    text-transform: uppercase;
}

ul {
    max-width: 600px;
    margin: 5px auto;
}

#logIn {
    max-width: 600px;
    margin: 5px auto;
}

#signUp {
    max-width: 600px;
    margin: 5px auto;
}

#accountSetting {
    max-width: 600px;
    margin: 5px auto;
}

#createToDoMenu {
    max-width: 600px;
    margin: 5px auto;
}

#todo ul li input[type="text"] {
    width: 520px;
    margin-right: 15px;
}

#userList {
    text-transform: capitalize;
}

#userCurrentListItemDisplay {
    max-width: 600px;
    margin: 5px auto;
}

#userCurrentListItem li {
    text-transform: capitalize;
}

.hide {
    display: none;
}

.signUpBg {
    background: green; 
}

.logInBg {
    background: steelblue;
}

.check {
    width: 20px;
    height: 20px; 
}

